table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

img {
  height: 20px;
  margin: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.img {
  display: flex;
  justify-content: center;

}

.arrows {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 10px;
}

.arrow {
  transform: rotate(90deg);
}
